        <div class="modal-header">
            <h3 class="modal-title">Paste video url</h3>
        </div>
        <div class="modal-body">
            <form>
                <input placeholder="Video Url" type="text" class="form-control" ng-model="url"/>
                <input placeholder="Video Name" type="text" class="form-control mt-5" ng-model="name"/>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>